API_AUTH_NAME=
API_AUTH_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

MAIL_NAME=
MAIL_PASS=

S3_BUCKET_NAME=

RDS_DB_NAME_DEV=
RDS_USERNAME=
RDS_PASSWORD=
RDS_HOSTNAME=
RDS_PORT=

SECRET_KEY_BASE=
